{% extends "blog/index.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                <a class="mr-2" href="#">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted }}</small>
                </div>
                <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}



<!-- After the template is ready I have to add my blog application to my list of installed apps so that django 
knows to look there for a templates directory -->
<!-- To add the application to that list, I add my app configuration to the project's settings.py the app cofig
is located inside of our apps.py module within my application  -->